* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #778da9;
}



nav {
    /* border: solid 1px black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d1b2a;

}

.img {
    width: 73px;
    height: auto;
}

ul {
    display: flex;
    list-style: none;
}

li {
    text-decoration: none;
    padding: 14px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.search-box {
    padding: 10px 21px;
    margin-left: 60%;
    background-color: #0D1B29;
    /* border: 1px solid gray; */
    border-radius: 15px;
    border: 1px solid gray;
    color: white;
    font-size: 16px;
}

input::placeholder {
    color: white;
}

li:hover {
    transition: 0.2s;
    background-color: #e54471;

}

.nav-menu2 {
    justify-content: space-between;
    box-shadow: 0px 6px 11px #363636
}

.connect img {
    margin: 1px;
    padding: 6px 7px;

}

.connect img:hover {
    background-color: #e54471;
    cursor: pointer;
}

.image_area{
    display: flex;
}

/* .aside{
    background-color: #0d1b2a;
} */

.main_img img{
    width: 1349px;
    height: 413px;
}

/* countinue */
/* remove asid from above */

.cover{
    background-image: linear-gradient(to right, rgb(0, 0, 0) , transparent);
    width: 1350px;
    height: 413px;
    position: ABSOLUTE;
    top: 131px;
    opacity: 96%;
}
.text{
    position: absolute;
    top: 231px;
    left: 78px;

}
.text-1{
    color: white;
    font-size: 43px;
    /* border: solid; */
    width: 470px;
}
.text-2{
    color: white;
    width: 405px;
    margin-top: 5px;
    font-size: 17px;
}

.btn{
    margin-top: 23px;
    padding: 11px 20px;
    border-radius: 19px;
    border: none;
    font-size: 15px;
}
#btn1{
    background-color: #e54471;

    color: white;
}

#btn1:hover{
    background-color: transparent;
    border: solid 1px #e54471;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#btn2{
    background-color: transparent;
    border: solid 1px;
    color: white;
}

#btn2:hover{
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #e54471;
}

.moving_text{
    /* border: solid 1px; */
    width: 79%;
    margin: auto;
    background-color: #484848;
}


marquee ul li{
    color: white;

}

marquee ul li:hover{
    cursor: pointer;
}

.aside{
    background-color: #bfff00;
    width: 14px;
    position: absolute;
    bottom: 7px;
    left: 1207px;
    height: 54px;
}

.aside1{
    bottom: 6px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    left: 129px;
    height: 54px;
}

.aside2{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.event_header{
    text-align: center;
    margin-top: 18px;
    font-size: 44px;
    color: #ffffff;
}

.base{
    border: solid 1px #bfff00;
    width: 12%;
    margin: auto;
    height: 1px;
    background-color: #bfff00;
    border-radius: 5px;
}

.event_card{
    display: flex;
    justify-content: center;
    margin: 24px 6px;

}

.card{
    border-bottom: 1px solid #8b8b8b;
        width: 383px;
    color: white;
    background-color: rgb(13, 27, 42);
    height: 340px;
    /* padding: 4px; */
    /* border-radius: ; */
    
    margin-right: 25px;     
}

.card:hover{
    /* box-shadow: inset 0px -7px 9px -5px #03ff22; */
    box-shadow: 0px 0px 0px red;
    transition: 0.5s;
    box-shadow: 0px 0px 8px #000000;
    transform: scale(1.1,1.1);  
    border-color: #0fef5f;
}
.card-header{
    font-size: 23px;
    margin-top: 30px;    
    margin-left: 7px;
}
.event-imgs{
    width: 383px;
}

#event-img2{
    width: 383px;
    height: 212px;
}

#event-img3{
    width: 383px;
    height: 212px;
}

#event-img4{
    height: 212px;
}

#event-img5{
    height: 212px;
}

#event-img6{
    height: 212px;
}

.read-more{
    margin-top:37px;
    margin-left: 7px;
}

.read-more a:hover{
  
    text-decoration: underline;
}

.special_info{
    background-color: black;
    display: flex;
    padding: 26px;
    justify-content: space-evenly;
    background-image: url('output-onlinepngtools.png');
   /* margin-bottom: 12px; */
}
.institute_area{
    border-right: 1px solid rgb(82, 82, 82);
    padding: 0px 96px;  
}

.si_img{
    width: 119px;
}

.numbers{
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 41px;
}

.ele_3{
    color: white;
    text-align: center;
    font-size: 32px;
}

.student_area{
    border: none;
}
.student_opinion{
    border: solid 1px red;
    display: flex;
}

.s1{
    border: solid 1px green;
    display: flex;
    width: 538px;
    text-align: justify;
}

.s1 img{
    width: 162px;
}

.s1 div span{
    text-align: end;
    display: block;
}

footer{
    background-color: #0d1b2a;
    color: white;
    text-align: center;
}

.flex-div{
    display: flex;
    JUSTIFY-CONTENT: space-evenly;
}


.footer-header{
    font-size:26px;
}

.information div{
    margin: 14px 0;
}



.d3{
    text-align: left;
}

.footer_text:hover{
    font-size: 19px;
    cursor: pointer;
    transition: 0.2s;

    color: #0798ff;
}

.add:hover{
    font-size: 16px;
    cursor: text;
    transition: none;
    color: white;
}

.side{
    /* border: solid 1px black; */
    position: fixed;
    top: 40%;
    left: 0px;
}

.facebook{
    background-color: #2d44b9;
    border-top-right-radius: 9px;
}

.insta{
    background-color: rgb(255, 0, 157);
}

.twitter{
    background-color: #4e4e4e;
}
.side-items{
    padding: 6px;
}

.linkedin{
    background-color: #34d36c;
    border-bottom-right-radius: 9px;
}
